In [0]:
import pandas as pd
import numpy as np

In [2]:
pip install -i https://test.pypi.org/simple/ lambdata-nirmal

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-nirmal
  Downloading https://test-files.pythonhosted.org/packages/cd/f9/dedd8e079a911986947d0d61df445a4828c9a65f8eb7449c0050dbc602f7/lambdata_nirmal-1.5-py3-none-any.whl
Installing collected packages: lambdata-nirmal
Successfully installed lambdata-nirmal-1.5

In [3]:
df = pd.read_csv('renthop-nyc.csv')
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
from my_lambdata.my_mod_one import checks_null

checks_null(df)

DataFrame has some null values, please replace it or drop it.